.movieElement {
  display: inline-block;
  margin: 10px 0 0 10px;
  flex-grow: 1;
  width: calc(100% - 10px - 1px);
  position: relative;
  min-height: 650px;
  overflow: hidden;
  &.full {
    border: 3px solid red;
    width: 100%
  }
}

@media screen and (min-width: 1600px) {
  .movieElement {
    width: calc(100% * (1 / 4) - 10px - 1px);
    min-height: 600px;
  }
}
@media screen and (min-width: 980px) and (max-width: 1599px) {
  .movieElement {
    width: calc(100% * (1 / 4) - 10px - 1px);
    min-height: 400px;
  }
}

@media screen and (min-width: 780px) and (max-width: 979px) {
  .movieElement {
    width: calc(100% * (1 / 2) - 10px - 1px);
  }
}
